h1{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding-bottom: 20px;
    background-color: rgb(244,79,79);
}
h1::first-line{
    color: rgb(255,255,255);
}
main{
    margin: 10px;
    padding: 10px;
}
.parent{
    display: flex;
    justify-content: space-around;
}

.contents{
    border: solid 3px rgb(238,204,204);
    font-size: 20px;
    flex-basis: 25%;
    margin: 20px 0px;
    padding: 10px 15px;
    text-align: center;
}

h2::before{
    content: "⚫︎";
    color: rgb(239,111,139)
}
h2{
    font-size: 25px;
    border-bottom: dotted 3px rgb(236,122,122);
}

p{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
}

p::first-letter{
    /*文字の装飾のプロパティを使います*/
    font-size: 20px;
    font-weight: bold;
    color: rgb(97,206,249);
}
.contents p:nth-of-type(2){
    color: rgb(97,206,249);
}

img{
    margin: 10px 0px;
    width: 70%;
}
a{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    background-color: rgb(244,79,79);
}
a:link{
    font-size: 20px;
    color: rgb(255,255,255);
}
a:visited{
    font-size: 20px;
    color: rgb(193,234,251);
}
a:hover{
    font-size: 20px;
    color: rgb(245,178,168);
}
/*以下の例では、画面幅が768px以下の時にスタイルが適応されます*/
@media  and (max-width: 768px) {
    h2{
        font-size: 30px;
    }
    p{
        font-size: 25px;
    }
    div{
        display: inline-flexbox;
    }

}