body{
    /*ここにCSSを書いていきます*/
    font-size: 20px;
}

#basic p {
    font-weight: bold;
}

body{
    /*フォント種類*/
    font-family:"Arial","Meiryo",sans-serif;
    text-align: center;
}

h1{
    /*h1フォント種類*/
    font-family:"Josefin Sans",sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-decoration: underline;
    text-shadow: 1px 1px 2px gray;
}

.blue{
    /*classにスカイブルー色にします*/
    color:skyblue;
}

.pink{
    /*classに色をつけます*/
    color: rgb(255,192,203);
}
