#top{
    position: relative;
    text-align: center;
    width: 800px;
    height: 50px;
    margin: 20px;
    vertical-align: top,bottom;
    margin-left: auto;
    margin-right: auto;
    background-color: #dcc9f4;
}
p{
    display: inline-block;
    width: 20%;
    background-color: #ffd9df;
}
#middle{
    position: relative;
    width: 800px;
    height: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffd9df;
}
#middle-child01{
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
    /*topとleftに100pxを指定している*/
    top: 100px;
    left: 100px;
    background-color: #87ceeb;
}
#middle-child02{
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
    /*topとleftに300pxを指定いている*/
    top: 300px;
    left: 300px;
    background-color: #87ceeb;
}
#middle-child03{
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
    /*topとleftに500pxを指定している*/
    top: 500px;
    left: 500px;
    background-color: #87ceeb;
}
#bottom{
    position: relative;
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #87ceeb;
}
#bottom-child01{
    position: relative;
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
}
#bottom-child02{
    width: 400px;
    height: 100px;
    position: relative;
    /*leftに200pxを指定する*/
    left: 200px;
    background-color: #e5dcf0;
}
#bottom-child03{
    width: 400px;
    height: 100px;
    position: relative;
    /*leftに400pxを指定する*/
    left: 400px;
    background-color: #e5dcf0;
}